@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
    margin:0;
    background:#000;
    color:#ff2a2a;
    font-family:'Share Tech Mono', monospace;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.container{
    text-align:center;
    border:3px solid #ff0000;
    padding:40px;
    box-shadow:0 0 25px red;
    width:420px;
}

.title{
    font-size:42px;
    letter-spacing:3px;
}

.subtitle{
    color:#aaa;
    margin-bottom:30px;
}

.upload-box input{
    margin-bottom:15px;
    color:white;
}

button{
    background:black;
    border:2px solid red;
    color:red;
    padding:10px 20px;
    cursor:pointer;
    transition:.2s;
    font-weight:bold;
}

button:hover{
    background:red;
    color:black;
    box-shadow:0 0 15px red;
}

a.download{
    display:inline-block;
    margin-top:20px;
    color:#00ff9c;
    text-decoration:none;
    border:1px solid #00ff9c;
    padding:10px;
}
